@model CoffeeExperience.MVC.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Cadastrar Produto";
    Layout = null;
}

<h2>Cadastrar Produto no Lote @Model.LotCode</h2>

<div class="row" id="div-cadastro-produto-@Model.LotCode">

    <div class="col-lg-12">

       
@using (Ajax.BeginForm("Create", "Product", new AjaxOptions { OnSuccess = "SucessoCadastro", OnComplete = "Completo", OnFailure = "Falha", OnBegin = "Carregando" }, new { @class = "form-horizontal", @style = "margin-bottom: 0px !important;" }))
{
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.LotCode)

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                     
                        @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger"  })
                        </div>
                    </div>

               
                <div class="form-group">
                    <div class="col-lg-2 pull-right">
                        <button class="btn btn-success col-lg-12" type="submit">Salvar</button>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<script>
    function ReparseValidation() {
        $.validator.unobtrusive.parse("#div-cadastro-produto-@Model.LotCode");
    }
    ReparseValidation();
    $(document).ready(FecharAlerta());
</script>
